<p class="text-[#2F3044] text-lg font-semibold pb-7 ml-5">{{carouselName}}</p>
<div *ngIf="(appStoreData$ | async) as apps" tuiCarouselButtons class="flex justify-between relative">
  <button
   *ngIf="currentIndex > 0"
    tuiIconButton
    icon="tuiIconChevronLeftLarge"
    title="Previous"
    appearance="outline"
    class="drop-shadow-lg shadow-lg absolute top-16 left-0 z-50 bg-white"
    type="button"
    (click)="navigate(-1)"
  ></button>
  <tui-carousel [(index)]="currentIndex" [itemsCount]="noOfCards" #carousel class="carousel">
    <!-- <ng-container *ngFor="let app of apps; let i = index">
      <app-store-card *tuiItem [appIcon]="app.appIcon" [appName]="app.appName" [themeColor]="app.themeColor"></app-store-card>
    </ng-container> -->
  </tui-carousel>
  <button
    tuiIconButton
    type="button"
    icon="tuiIconChevronRightLarge"
    title="Next"
    appearance="outline"
    class="drop-shadow-lg shadow-lg absolute top-16 right-12 z-50 bg-white"
    (click)="navigate(1);"
  ></button>
</div>